# vim: ft=sh

# settings variables
ALDINE__PLATFORM='native'             # required,format=^(native|container)$
ALDINE__CONTAINER__IMAGE_NAME='aldine-#{user_uid}/#{path_slug}' # required
ALDINE__CONTAINER__BUILD__PATH='docker' # required,format=^\w+$
ALDINE__CONTAINER__BUILD__ARGS__WORKDIR='/workdir' # required,format=^/\w+$
ALDINE__DIRECTORIES__SRC='src'        # required,format=^\w+
ALDINE__DIRECTORIES__TMP='tmp'        # required,format=^\w+
ALDINE__DIRECTORIES__OUT='out'        # required,format=^\w+
ALDINE__DIRECTORIES__LIB='lib'        # required,format=^\w+
ALDINE__LATEX_NAME='index'            # required,format=^\w+
ALDINE__OUTPUT_NAME='project'         # required,format=^\w+
ALDINE__WATCH_EXCLUDE='^.*/(\..+|(M|m)akefile|.*(\.mk|~))$'

# Local Variables:
# mode: sh
# End:
